:root{
  --color1: #5B87DA;
  --color2: #7cb6c2;
  --color3: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
  outline: none;

}

::-webkit-scrollbar {
  width: 0px; /* Largura da barra de rolagem */
}

.main-content{
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-image: url('../public/back.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}


.main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.541);
}

.container-form{
  border-radius: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.308);
  width: 450px;
  height: 500px;
  padding: 30px 50px;
}

.form-title{
  font-size: 30px;
    color: #323232;
  margin-bottom: 16px;
}

.form-sub-title{
  color: #323232;
  margin-bottom: 32px;
}

.register{
  color: #1473E6;
}

.input{
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  
  transition: .2s ease-in-out;
  border-bottom: 1px solid #EAEAEA;
  width: 100%;

}

.input:focus{
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #1473E6;
  width: 100%;

}


.form-span{

  color: #747474;
  margin-bottom: 8px;
}

.forgot-password{
  position: relative;
    cursor: pointer;
    color: #1473E6;;
    margin-top: -40px;
    font-size: 11px;
    margin-bottom: 280px;
}

.continue{
  background: #1473E6;
  padding: 8px 20px;
  border-radius: 17px;
  border: transparent;
  color: white;
  cursor: pointer;
  margin-left: auto;
}


/* Dashboard.css */

.dashboard {
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #1473E6;
  color: #fff;
  padding: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in;
  
}

.open{
  margin-left: -270px;
}

.closed{
    margin-left: 0px;
}

.user-info {
  text-align: center;
}

.user-photo {
  border-radius: 50%;
  width: 70px;
  object-fit: cover;
  height: 70px;
  margin-bottom: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.fa-arrow-left, .fa-arrow-right{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.icon-sidebar{
  position: absolute;
  margin-left: 10px;
}


.fa-right-from-bracket{
   position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.nav-links li {
  line-height: 40px;
  margin: 20px 0;
  background-color: rgba(91, 135, 218, 0.57);
  width: 165px;
  height: 38px;
  align-items: center;
  border-radius: 4px;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #323232; 
}

.simple-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.simple-table th, .simple-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.simple-table th {
  background-color: #ffffff;
}

.simple-table tbody tr:hover {
  background-color: #f5f5f5;
}


.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar verticalmente */
}

.nav-links li {
  margin-bottom: 10px;

}

.nav-links a {
  text-decoration: none;
  margin: 0 auto;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center; /* Centralizar horizontalmente */
}

.main {
  flex-grow: 1;

  background-color: #eee;
  
}

.cancel{
  background-color: red;
  color: white;
}

.pending{
  background-color: rgb(255, 255, 0);
  color: black;
}

.concluded{
  background-color: green;
  color: white;
}

.badge{
  border: transparent;
  border-radius: 3px;
 
  min-width: 90px !important;
  padding: 2px;

}

.action{
  padding: 5px 10px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

}

.content{
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


/* Adicione mais estilos conforme necessário */

/*card user profile*/
.container-dashboard{
  background-color: white;
  height: 77%;
  width: 95%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-3";
  padding: 25px;
  column-gap: 10px;



}

.container-dashboard-appontment{
  background-color: white;
  height: 70%;
  width: 95%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-2";
  padding: 25px;
  column-gap: 10px;
}




.user{

  position: fixed;
  right: 20px;
  top: 20px;
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  max-height: 230px;
  padding: 10px;
  justify-content: center;
  border-radius: 9px;

}

.content-logged-user{
  display: flex;
  align-items: center;
  margin-left: 8px;
  justify-content: center;
}

.user-image{
  height: 50px;
  border-radius: 9px;
  object-fit: cover;
  width: 50px;
}

.dot{
  height: 6px;
}


.container-dashboard-contact{
  background-color: white;
  height: 55%;
  width: 60%;
  min-width: 500px;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1";
  padding: 25px;

  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.form-contact{
 
  width: 100%;
  min-width: 450px;
}


.col-1{

  grid-area: col-1;
  
}
.col-2{


  grid-area: col-2;
}

.col-3{

  grid-area: col-3;

}

.ReactModal__Content{
  max-height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.message{
  min-height: 200px;
  max-height: 200px;
  max-width: 100%;
  min-height: 100%;
}

.yes{
  background-color: #1473E6;
  color: white;
  border-radius: 4px;
  border: transparent;
  padding: 8px 30px;
  margin: 0 5px;
  cursor: pointer;

}

.no{
  background-color: #1473E6;
  color: white;
  border-radius: 4px;
  border: transparent;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}


.title-col-1, .title-col-2{
  color: #454444;
  font-weight: 400;
}

.text-color{
  color: #454444;
}

.form-dashboard{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #BFBABA;
  border-radius: 4px;
  padding: 14px;
}

.input-dashboard{
  margin: 8px 0;
  border: 1px solid #BFBABA;
  border-radius: 4px;
  padding: 6px ;
  font-size: 14px;
  transition: .1s ease-in;
}

.submit-dashboard{
  height: 36px;
  background-color: #1473E6;
  color: white;
  border: transparent;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.submit-dashboard:hover{
   background-color: #446ebd;
}


/*end card user profile*/

/* consulta */



.consulta{
   border: 1px solid #ddd;
}

.form-consulta{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 340px;
    width: 400px; 
    background-color: white;
   
}

.form-consulta input{

  padding: 14px 0;
}

.option{
  padding: 3px 0;
}
/*end consulta*/

@media(max-width: 540px){
  .container-form{
  border-radius: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.308);
  width: 90%;
  height: 500px;
  padding: 20px 40px;
}
}

@media(max-width: 875px){

  .sidebar {
  position: fixed;
  height: 100%;
  width: 220px;
  background-color: #1473E6;
  color: #fff;
  padding: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in;
  
}

.content{
  padding: 50px;
}

.open{
  margin-left: -190px;
}

.container-dashboard{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1"
  "col-3";

  padding: 25px;

  column-gap: 10px;
 

}



.container-dashboard-appontment{
  background-color: white;
  height: 100%;
  width: 95%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-2"
  "col-1";
  padding: 25px;
  column-gap: 10px;



}



 
}


@media(max-width: 1440px) and (min-width: 876px){

.container-dashboard{
  background-color: white;
  height: 90%;
  width: 95%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-3";
  padding: 25px;
  column-gap: 10px;



}

 
}



