:root{
  --color1: #5B87DA;
  --color2: #7cb6c2;
  --color3: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
  outline: none;

}

::-webkit-scrollbar {
  width: 0px; /* Largura da barra de rolagem */
}

.main-content{
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-image: url('../public/back.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}


.main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.541);
}

.container-form{
  border-radius: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.308);
  width: 450px;
  height: 500px;
  padding: 30px 50px;
}

.form-title{
  font-size: 30px;
    color: #323232;
  margin-bottom: 16px;
}

.form-sub-title{
  color: #323232;
  margin-bottom: 32px;
}

.register{
  color: #1473E6;
}

.input{
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  
  transition: .2s ease-in-out;
  border-bottom: 1px solid #EAEAEA;
  width: 100%;

}

.input:focus{
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #1473E6;
  width: 100%;

}


.form-span{

  color: #747474;
  margin-bottom: 8px;
}

.forgot-password{
  position: relative;
    cursor: pointer;
    color: #1473E6;;
    margin-top: -40px;
    font-size: 11px;
    margin-bottom: 280px;
}

.continue{
  background: #1473E6;
  padding: 8px 20px;
  border-radius: 17px;
  border: transparent;
  color: white;
  cursor: pointer;
  margin-left: auto;
}


/* Dashboard.css */

.dashboard {
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #1473E6;
  color: #fff;
  padding: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in;
  
}

.open{
  margin-left: -261px;
}

.closed{
    margin-left: 0px;
}

.user-info {
  text-align: center;
}

.user-photo {
  border-radius: 50%;
  width: 70px;
  object-fit: cover;
  height: 70px;
  margin-bottom: 10px;
}

.edit-input{
  background-color: transparent;
  border: transparent;
  width: 15px;
  height: 10px;
}

.edit{
  cursor: pointer;
  background-color: #2B2B2B;
  border: transparent;
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 10px;
  position: absolute;
  margin-left: 10px;
  margin-top: -24px;
}

.hidden{
  display: none;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.fa-arrow-left, .fa-arrow-right{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.icon-sidebar{
  position: absolute;
  margin-left: 10px;
}


.fa-right-from-bracket{
   position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.nav-links li {
  line-height: 40px;
  margin: 20px 0;
  background-color: rgba(91, 135, 218, 0.57);
  width: 165px;
  height: 38px;
  align-items: center;
  border-radius: 4px;
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #323232; 
}

.simple-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.simple-table th, .simple-table td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 13px;

  font-size: 14px;
}

.search{
  height: 35px;
  min-width: 290px;
  padding: 0 0 0 8px;
  float: right;
  border: 1px solid #1473E6;
  border-radius: 4px;
}

th{
color: #1A202C;
}

.reagendar{

color: #1A202C;
}

.input-search{
  height: 100%;
  width: 280px;
  background-color: transparent;
  border: transparent;

}

.btn-icon{
  height: 100%;
  background-color: #1473E6;
  color: white;
  width: 40px;
  border: #1473E6;
}




.pag-item{
  cursor: pointer;
  background-color: #1358ad;
  height: 10px;
  padding:10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  margin: 4px;


}


.agendamento{
  min-width: 900px;
  background-color: white;
}

.simple-table th {
  
  background-color: #ffffff;
}

.simple-table tbody tr:hover {
  background-color: #f5f5f5;
}


.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar verticalmente */
}

.nav-links li {
  margin-bottom: 10px;

}

.nav-links a {
  text-decoration: none;
  margin: 0 auto;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center; /* Centralizar horizontalmente */
}

.main {
  flex-grow: 1;

  
  background-color: #F2F4F7;
  
}

.cancel{
  background-color: red;
  color: white;
}

.pending{
  background-color: rgb(253, 253, 28);
  color: black;
}

.concluded{
  background-color: green;
  color: white;
}

.badge{
  border: transparent;
  border-radius: 3px;
  min-width: 90px !important;
  padding: 2px;
}

.logo-chat-header{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;

  
}

.chat{
  padding: 8px 0;
  min-height: 340px;
  color: white;
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
 
}

.container-header{
  border-radius: 8px 8px 0 0;
  background-color: #1473E6;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  max-width: 400px;
}

.online{
  position: relative;
  top: 10px;
  left: -61px;
}

.hour{
  color: #747474;
  font-size: 10px;
}

.message-secretary{
  float: left;
  background-color: #D9D9D9;
  display: inline-block;
  padding: 8px;
  border-radius: 0 16px 16px 16px;
  width: 51%;
  margin: 8px 0;
 
}

.input-chat-container{
  background-color: white;
  width: 400px;
  padding: 8px 16px;
}

.message-user{
  display: block;
  background-color: #1473E6;
  color: white;
  padding: 8px;
  width: 51%;
  float: right !important;
  margin: 8px 0;
  border-radius: 16px 16px 0px 16px;
}

.message-user p{
  color: white;
}


.chat-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.body-messages{
  padding: 0 16px;
  padding-top: 44px;


}

.action{
  padding: 5px 10px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

}

.content{
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


/* Adicione mais estilos conforme necessário */

/*card user profile*/
.container-dashboard{
  background-color: white;
  height: 77%;
  width: 100%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-3";
  padding: 25px;
  column-gap: 10px;
}


.input-chat{
  width: 90%;

  border-radius: 4px;
  background-color: #D9D9D9;
  padding: 8px ;
  
}

.input-transparent{
  border: transparent;
  background-color: transparent;
  width: 94%;
}

.container-input-chat{

  display: flex;
  justify-content: center;
  width: 400px;
  background-color: white;
  padding: 20px 0;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #D9D9D9;

}

.container-dashboard-appontment{
  background-color: white;
  height: 70%;
  width: 90%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-2";
  padding: 25px;
  column-gap: 10px;
}


.espaco{
  width: 400px;
  height: 16px;
  background-color: white;
}

.user{

  position: fixed;
  right: 20px;
  top: 20px;
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
  max-height: 230px;
  padding: 10px;
  justify-content: center;
  border-radius: 9px;

}

.content-logged-user{
  display: flex;
  align-items: center;
  margin-left: 8px;
  justify-content: center;
}

.user-image{
  height: 50px;
  border-radius: 9px;
  object-fit: cover;
  width: 50px;
}

.dot{
  height: 6px;
}


.container-dashboard-contact{
  background-color: white;
  height: 55%;
  width: 60%;
  min-width: 500px;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1";
  padding: 25px;

  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.form-contact{
 
  width: 100%;
  min-width: 450px;
}


.col-1{

  grid-area: col-1;

}
.col-2{


  grid-area: col-2;
}

.col-3{

  grid-area: col-3;

}

.text{
  color: #6F7377;
  font-weight: 400;
}

.space{
  margin: 32px 0;
}

.ReactModal__Content{
  color: #1A202C;
}

.bold{
  font-weight: 500;
}

.message{
  min-height: 200px;
  max-height: 200px;
  max-width: 100%;
  min-height: 100%;
}

.yes{
  background-color: #1473E6;
  color: white;
  border-radius: 4px;
  border: transparent;
  padding: 8px 30px;
  margin: 0 5px;
  cursor: pointer;

}

.no{
  background-color: #1473E6;
  color: white;
  border-radius: 4px;
  border: transparent;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}


.title-col-1, .title-col-2{
  color: #454444;
  font-weight: 400;
}

.text-color{
  color: #454444;
}

.form-dashboard{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #BFBABA;
  border-radius: 4px;
  padding: 14px;
}

.input-dashboard{
  margin: 8px 0;
  border: 1px solid #6F7377;
  border-radius: 4px;
  padding: 0 4px;
  height: 39px;
  font-size: 16px;
  transition: .1s ease-in;
  min-width: 320px;
}

.submit-dashboard{
  height: 36px;
  background-color: #1473E6;
  color: white;
  border: transparent;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.submit-dashboard:hover{
   background-color: #446ebd;
}

/*profile*/

.profile-button{
  height: 39px; 
  margin: 8px 0;
  width: 120px;
  margin-left: 8px;
  border-color: #1473E6;
  color: #1473E6;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.send-profile{
  height: 39px;
  margin: 8px 0;
  width: 192px;
  background-color: #1473E6;
  border: transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.send-profile:hover{
  background-color: #4996f3;
}

.text-logo{
  position: absolute;
  top: 8px;
  font-weight: bold;
  font-size: 22px;
  left: 8px;
}

.toschedule{
  background-color: #1473E6;
  color: white;
  border: transparent;
  border-radius: 4px;
  height: 35px;
  width: 110px;
  font-size: 16px;
  cursor: pointer;
}

.title-data-profile {
  color: #1A202C;
  margin: 0 0 16px 0;
}

.line{
  margin: 20px 0;
  border: 1px solid  rgb(243, 243, 243);
}

.fa-pen-to-square{
  float: right;
  font-size: 22px;
  color: #1A202C;
  cursor: pointer;
}

.container-g{
    height: 70%;
    width: 60%;
    background-color: white;
    padding: 25px;
    border-radius: 4px;
}

.container-dashboard-profile{
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-3";
  column-gap: 10px;
}

/*fim profile*/

/* modal profile */

.container-button-profile{
  margin: 8px 0;
}


.container-form-modal{
  display: grid;
  gap: 8px;
  grid-template-areas: 
  "cp-1 cp-2";

}

.cp-1, .cp-2{
  display: flex;
  
  flex-direction: column;

}

.cp-1{
  grid-area: cp-1;
}
.cp-1{
  grid-area: cp-2;
}


/* fim modal profile*/


/*end card user profile*/

/* consulta */

.consulta{
   border: 1px solid #ddd;
}

.form-consulta{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 340px;
    width: 400px; 
    background-color: white;
}

.form-consulta input{
  padding: 14px 0;
}

.option{
  padding: 3px 0;
}
/*end consulta*/

@media(max-width: 540px){
  .container-form{
  border-radius: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.308);
  width: 90%;
  height: 500px;
  padding: 20px 40px;
}
}

@media(max-width: 875px){

  .sidebar {
  position: fixed;
  height: 100%;
  width: 220px;
  background-color: #1473E6;
  color: #fff;
  padding: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in;
}

.content{
  padding: 50px;
}

.open{
  margin-left: -190px;
}

.container-dashboard{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1"
  "col-3";
  padding: 25px;
  column-gap: 10px;
}

.container-dashboard-appontment{
  background-color: white;
  height: 100%;
  width: 95%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-2"
  "col-1";
  padding: 25px;
  column-gap: 10px;
}
}

@media(max-width: 1440px) and (min-width: 876px){

.container-dashboard{
  background-color: white;
  height: 90%;
  width: 95%;
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "col-1 col-3";
  padding: 25px;
  column-gap: 10px;
}
}



